@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital@1&display=swap');

body {
  margin: 0;
  font-family: system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.page-title {
  font-family: 'IBM Plex Sans', sans-serif;
  font-style: italic;
  font-size: 4ch;
  text-shadow: 2px 2px 0 rgba(0, 128, 128, 0.254), 4px 4px 0 #ff00d09f,
    6px 6px 0 rgba(32, 178, 171, 0.298);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.searchContainer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 2ch;
  grid-row-gap: 1ch;
}

.citySearch {
  grid-area: 1 / 1 / 2 / 2;
}
.numberOfEvents {
  grid-area: 1 / 2 / 2 / 3;
}
.info {
  grid-area: 2 / 1 / 3 / 3;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}

.charts-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 768px) {
  .charts-container {
    display: grid;
    grid-template-columns: 1fr;
    /* Add your styles for screens below 768px here */
  }
}
